/*  CSS Reset   */
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

#container_navbar{
    display:flex;
    background-color: lightgray;
    justify-content: space-between;
}


#navbar_subscribe{
    text-decoration: underline;
    color: rgb(79, 79, 79);
    padding-left: 1%;
    font-size: 125%;
}

#navbar_subscribe:hover{
    cursor: pointer;
}

#navbar_title{
    padding: 2%;
    text-decoration: underline;
    font-size: 200%;
}

#navbar_srchButton{
    padding-top: 2%;
    padding-right: 2%;
}

.blogList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blogList_card{
    display: flex;
    flex-direction: column;
    margin: 2%;
    border: 4px solid lightgray;
    width: 40%;
}

.blogList_card *{
    padding-left: 3%;
    margin: 1%;
}

.blogList_card:hover{
    border: 1px solid lightgray;
}


.card_title{
    margin-top: 2%;
    margin-bottom: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 170%;
}

.card_date{
    color: grey;
}

.card_world{
    color: blue;
    font-weight: bold;
}

.card_design{
    color: green;
    font-weight: bold;
}

.card_blogLink{
    margin-top: auto;
}

.blog_container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2%;
}

.container_blogCol{
/*     background-color: lightpink;
 */    padding: 2%;
}

.container_otherCol{
    /*background-color: lightskyblue;*/
}

.blog_title{
    font-weight: bold;
    font-size: 200%;
}

.blog_author{
    text-decoration: underline;
    color:rgb(38, 38, 228);
}

.blog_body{
    margin-top: 3%;
    font-family:Arial, Helvetica, sans-serif
}

.blog_body div{
    border-bottom: 2px solid gray;
}


.body_intro, .body_subSection{
    padding-bottom: 1%;
    margin-top: 1%;
}


.codeBox{
    border: 1px solid black;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

.about_box{
    background-color: rgb(245, 234, 234);
}

.archive, .socials, .about_box{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5;
    padding: 5%;
}

.body_poem{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}